.wrapper
  position: relative
  max-width: $wrapper
  width: 100%
  margin: 0 auto
  padding: 0 $padding
  +mobile
    padding: 0 $paddingSm

.content
  position: relative
  height: 100vh

.sectionPage
  position: absolute
  top: 0
  left: 0
  +size(100%)

.sectionTitle