//====================__Wrapper__====================//

$wrapperLg: calc(50% - 600px) //1200px
$wrapperMd: calc(50% - 465px) //930px
$wrapperTab: calc(50% - 345px) //690px
$wrapperMob: calc(50% - 255px) //510px
$padding: 15px

//====================__Fonts__====================//

$fontMain: 'Poppins', Arial, sans-serif
$fontSecond: 'Montserrat', Tahoma, sans-serif
$fontSize: 16px
$fontWeight: normal
$lineHeight: 1.5

//====================__Colors__====================//

$white: #fff
$black: #000
$colorTheme: $black

$colorMain: #007bf1

$colorText: $white

//====================__Vars__====================//

$transition: 250ms ease