extends ../../layout/page

include home/home
include skills/skills
include resume/resume
include portfolio/portfolio

//--------------------------------------------------//

block vars
  - var title = 'Сергей Тихомиров'
  - var description = 'Frontend разработчик'
  - var pageId = 'indexPage'

//--------------------------------------------------//

block head
  +style('index')

block startBody
  +header()
 
block endBody
  +footer()
  +script('main')

//--------------------------------------------------//

block content
  +home
  +skills
  +resume
  +portfolio