extends ../../layout/page

include home/home
include skills/skills
include resume/resume
include portfolio/portfolio

//--------------------------------------------------//

block vars
  - const title = 'Sergey Tihomirov'
  - const description = 'frontend developer'
  - const pageId = 'p-index'

//--------------------------------------------------//

block head
  +style('index')

block startBody
 
block endBody
  +script('main')

//--------------------------------------------------//

block content
  +home
  +skills
  +resume
  +portfolio