@import "../../styles/vars"
@import "../../styles/mixins"

.home
  overflow: hidden
  z-index: 1
  position: relative
  display: grid
  grid-template-rows: min-content min-content 1fr
  height: 100vh
  
  &__title
    width: 500px
    margin-top: 20%

    +mobile
      margin-top: 60%

  &__name
    font-size: 56px
    font-weight: 700

    +mobile
      font-size: 32px

  &__skill
    font-size: 24px

  &__img
    z-index: -1
    position: absolute
    right: 0
    bottom: 0
    width: auto
    height: 100%
    object-fit: cover
    pointer-events: none
    mask-image: linear-gradient(to left, transparent, rgba(0,0,0,.7) 40% 60%, transparent)

    +mobile
      opacity: .6
      width: 100%

  &__links
    display: flex
    gap: 24px
    width: 500px
    margin: auto 0 48px

  &__link
    display: block
    +size(24px)
    background-size: 100% auto
    background-position: center
    background-repeat: no-repeat
    filter: invert(1)