mixin socLink(data)
  +e.A.link(href=data.href target='_blank' rel='nofollow' loading="lazy" width="24" height="24" title=data.title style='background-image: url(img/' + data.icon + ')')

mixin home()
  +b.SECTION.home.wrapper
    +initMenu()
    +e.title
      +e.H1.name Sergey Tihomirov
      +e.P.skill Frontend developer
    +e.IMG.img(src="img/main.jpg" width="800" height="800" loading="lazy" alt="Sergey Tihomirov - Frontend developer")
    +e.links
      +socLink({ href: '#', title: 'github', icon: 'github.svg' })
      +socLink({ href: '#', title: 'Телеграм', icon: 'telegram.svg' })
      +socLink({ href: '#', title: 'instagram', icon: 'instagram.svg' })
      +socLink({ href: '#', title: 'Vkontakte', icon: 'vk.svg' })