mixin socLink(data)
  +e.A.link(href=data.href target='_blank' rel='nofollow' title=data.title style='background-image: url(img/' + data.icon + ')')

mixin home()
  +b.SECTION.home.sectionPage#home
    +e.container.wrapper
      +e.title
        +e.H1.name Сергей Тихомиров
        +e.H2.skill Frontend developer
        +e.links
          +socLink({ href: site.vk, title: 'Вконтакте', icon: 'vk.svg' })
          +socLink({ href: site.telegramLink, title: 'Телеграм', icon: 'telegram.svg' })
          +socLink({ href: site.skypeLink, title: 'Скайп', icon: 'skype.svg' })
          +socLink({ href: site.github, title: 'Гитхаб', icon: 'github.svg' })