mixin home()
  +b.SECTION.home.sectionPage#home
    +e.container.wrapper
      +e.title
        +e.H1.name Сергей Тихомиров
        +e.H2.skill Frontend developer
        +e.links
          +e.A.link(href=site.vk target='_blank' rel='nofollow' style='background-image: url(img/vk.svg)')
          +e.A.link(href=site.telegramLink target='_blank' rel='nofollow' style='background-image: url(img/telegram.svg)')
          +e.A.link(href=site.skypeLink target='_blank' rel='nofollow' style='background-image: url(img/skype.svg)')
          +e.A.link(href=site.github target='_blank' rel='nofollow' style='background-image: url(img/github.svg)')