- const lang = 'ru-RU'

-
  const site = {
    name: 'TihomirovPro',
    phone: '+7(980)701-57-26',
    telegram: '@TihomirovPro',
    telegramLink: 'https://t.me/TihomirovPro',
    skype: 'live:tihomirov.pro',
    skypeLink: 'skype:live:tihomirov.pro',
    email: 'tihomirov.pro@gmail.com',
    vk: 'https://vk.com/tihomirov_pro',
    github: 'https://github.com/TihomirovPro',
  }

  const menu = {
    link1: { href: '#skills', text: 'Навыки' },
    link2: { href: '#resume', text: 'Резюме' },
    link3: { href: '#portfolio', text: 'Портфолио' },
    link4: { href: '#contacts', text: 'Контакты' },
  }